@using PetShop.Core.Models
@model Professional

<div class="container">
    <div class="row">
        <div class="col-6">
            <form method="post" asp-action="DeletePost">
                <div class="card" style="width: 18rem;">
                    <img src="~/uploads/professionals/@Model.ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.FullName</h5>
                        <p class="card-text">@Model.Profession</p>
                        <input asp-for="@Model.Id" hidden value="@Model.Id" />
                        <a asp-action="Index" class="btn btn-info">Go Back</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
